<ion-view view-title="contacts">
  <ion-content>
    <div class="list">
      <div class="row item" href="#">
        <img class="col col-33 col col-33 small-avatar" src="https://preview.ibb.co/dL25Vk/ava.jpg">
        <div class="col col-67">
          <h2 class="contact-name">Quynh Huong Nguyen</h2>
          <h3>Mobile developer</h3>
          <p>email</p>
          <p>phone number</p>
        </div>
      </div>
      <div class="row item" href="#">
        <img class="col col-33 small-avatar" src="https://preview.ibb.co/f46AD5/ilya.jpg">
        <div class="col col-67">
          <h2 class="contact-name">Ilya Savkin</h2>
          <h3>Back-end developer</h3>
          <p>email</p>
          <p>phone number</p>
        </div>
      </div>
      <div class="row item" href="#">
        <img class="col col-33 small-avatar" src="https://preview.ibb.co/gYWSt5/priya.jpg">
        <div class="col col-67">
          <h2 class="contact-name">Shrestha Priya</h2>
          <h3>UI designer</h3>
          <p>email</p>
          <p>phone number</p>
        </div>
      </div>
      <div class="row item" href="#">
        <img class="col col-33 small-avatar" src="https://image.ibb.co/gifWLk/veronika.jpg">
        <div class="col col-67">
          <h2 class="contact-name">Veronika Panteeleva</h2>
          <h3>Front-end developer</h3>
          <p>email</p>
          <p>phone number</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
