<ion-view view-title="Home">
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-model="input.searchText">
      </label>
      <div class="list list-inset">
        <label class="item item-select">
          <select ng-model="input.searchCity">
            <option selected>city name</option>
            <option>Moscow</option>
            <option>St.Petersburg</option>
          </select>
        </label>
      </div>
      <button class="button button-block button-calm" ng-click="updateSearch()">
        Search
      </button>
    </div>
  </ion-content>
</ion-view>
