<ion-view view-title="medicine detail">
  <ion-content>
    <div class="">
      <p class="med-title assertive center">{{foundmedicine.m_generic_name}}</p>
      <p class="intro padding positive">{{foundmedicine.m_general_desc}}</p>
    </div>
    <div class="list">
      <div class="medicine_info">
        <img class="full-image" ng-src="{{foundmedicine.m_photo}}">
        <h2>Rating: </h2><span>{{foundmedicine.m_rating}}</span>
        <!-- Rate the medicine here -->
        <div class="">
          <div class="row">
            <!-- below lines are not ready yet. -->
            <ion-radio class="col energized" ng-click="rate(1)">1</ion-radio>
            <ion-radio class="col energized" ng-click="rate(2)">2</ion-radio>
            <ion-radio class="col energized" ng-click="rate(3)">3</ion-radio>
            <ion-radio class="col energized" ng-click="rate(4)">4</ion-radio>
            <ion-radio class="col energized" ng-click="rate(5)">5</ion-radio>
          </div>
        </div>
        <h2>Imprint: </h2>
          <p>{{foundmedicine.m_imprint}}</p>
        <h2>Strength: </h2>
          <p>{{foundmedicine.m_strength}}</p>
        <h2>Color: </h2>
          <p>{{foundmedicine.m_color}}</p>
        <h2>Shape: </h2>
          <p>{{foundmedicine.m_shape}}</p>
        <h2>Availability: </h2>
          <p>{{foundmedicine.m_availablity}}</p>
        <h2>Drug class: </h2>
          <p>{{foundmedicine.m_drug_class}}</p>
        <h2>Full description: </h2>
          <p>{{foundmedicine.m_description}}</p>
        <h2>Manufacture: </h2>
          <p>{{foundmedicine.m_manufactures}}</p>
        <h2>Schedule: </h2>
          <p>{{foundmedicine.m_csa_schedule}}</p>
      </div>
      <!-- loaded comments -->
      <div class="padding">
        <h3>Comments</h3>
        <h4 class="bold">Username</h4>
        <p>blablabla</p>
      </div>
      <!-- write new comment -->
      <div class="padding list-inset">
        <h3>Add a comment</h3>
        <textarea class="custom-form"></textarea>
        <button class="button button-full custom-button">Submit</button>
      </div>
    </div>
  </ion-content>
</ion-view>
