.center{
     text-align:center;
}
.bold{
  font-weight: bold;
}
.med-title{
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 10px;
  color: rgba(232, 128, 134, 0.88);
}
.med-smalltitle{
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 10px;
  color: rgba(232, 128, 134, 0.88);
}
.intro{
  font-size: 1.2em;
}
.bigger-header{
  height: 3.5em;
  background-color: rgba(87, 165, 161, 0.33);
  color: white;
}
.home-header{
  height: 10em;
  background-image: url('../img/medicine.jpg') !important;
}
.custom-content{
  top: 10em;
}
.medicine_info{
  padding-left: 30px;
}
.medicine_info >p{
  font-size: 1em;
}
.medicine_info > h2{
  font-weight: bold !important;
  font-size: 1.1em;
}
.medicine_info > span{
  font-weight: bold;
  font-size: 1.3em;
  color: orange;
}
.custom-button{
  color: white;
  background-color: #32628a !important;
  border-radius: 10px;
  font-size: 1.4em;
}
.custom-button >a{
  color: white !important;
  text-decoration: none;
  right: 10px !important;
}
.menu-button{
  color: white !important;
}
.back-button{
  color: white !important;
}
.custom-form{
  height: 100px;
  width: 100%;
  border-width: thin;
  border-style: inset;
  border-color: inherit;
}
.pharmacy-name{
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 10px;
  color: rgb(103, 24, 102) !important;
}
.small-avatar{
  border-radius: 50% !important;
  max-width: 100px !important;  //any size
  max-height: 100px !important; //any size
  float: left;
}
.contact-name{
  font-size: 0.9em !important;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 10px;
  color: rgba(232, 128, 134, 0.88);
}
.contact-info{
  float: right;
}
#map {
    width: 100%;
    height: 100%;
}
